<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- <property name="hibernate.connection.provider_class">org.hibernate.connection.ProxoolConnectionProvider</property>
		<property name="hibernate.proxool.pool_alias">proxool</property>
		<property name="hibernate.proxool.xml">proxool.xml</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<property name="hibernate.proxool.existing_pool">true</property> -->
		<!-- c3p0 -->
		 <!-- 配置数据库信息 --> 
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mysql://rm-2ze8o3g6sk4b76c8w8o.mysql.rds.aliyuncs.com:3306/sjjh_kaifa</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="hibernate.connection.password">Hnjz8888</property>

        <!-- 其他配置 -->
        <property name="hibernate.show_sql">true</property>
        <!-- 连接池 -->
        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <!-- 最大连接数 -->
        <property name="hibernate.c3p0.max_size">200</property>
        <!-- 最小连接数 -->
        <property name="hibernate.c3p0.min_size">5</property>
        <!-- 获得连接的超时时间,如果超过这个时间,会抛出异常，单位毫秒 -->
        <property name="hibernate.c3p0.timeout">3000</property>
        <!-- 最大的PreparedStatement的数量 -->
        <property name="hibernate.c3p0.max_statements">100</property>
        <!-- 每隔120秒检查连接池里的空闲连接 ，单位是秒 -->
        <property name="hibernate.c3p0.idle_test_period">120</property>
        <!-- 当连接池里面的连接用完的时候，C3P0一下获取的新的连接数 -->
        <property name="hibernate.c3p0.acquire_increment">2</property>
        <!-- 每次都验证连接是否可用 -->
        <property name="hibernate.c3p0.validate">true</property>
        
		<mapping resource="com/hnjz/apps/base/func/model/SFunc.hbm.xml" />
		<mapping resource="com/hnjz/apps/base/func/model/SFuncAction.hbm.xml" />
		<mapping resource="com/hnjz/apps/base/org/model/SOrg.hbm.xml" />
		<mapping resource="com/hnjz/apps/base/post/model/SPost.hbm.xml" />
		<mapping resource="com/hnjz/apps/base/role/model/SRole.hbm.xml" />
		<mapping resource="com/hnjz/apps/base/sys/model/SSys.hbm.xml" />
		<mapping resource="com/hnjz/apps/base/user/model/SUser.hbm.xml" />
		<mapping resource="com/hnjz/apps/base/org/model/SOrgPost.hbm.xml" />
		<mapping resource="com/hnjz/apps/base/role/model/SRoleFunc.hbm.xml" />
		<mapping resource="com/hnjz/apps/base/org/model/SUserOrg.hbm.xml" />
		<mapping resource="com/hnjz/apps/base/user/model/SUserPost.hbm.xml" />
		<mapping resource="com/hnjz/apps/base/user/model/SUserRole.hbm.xml" />
		<mapping resource="com/hnjz/apps/base/param/model/SParam.hbm.xml" />
		<mapping resource="com/hnjz/apps/base/log/model/SAlertSetting.hbm.xml" />
		<mapping resource="com/hnjz/apps/base/post/model/SPostRole.hbm.xml" />
		<mapping resource="com/hnjz/apps/base/user/model/UserRelate.hbm.xml" />
		<mapping resource="com/hnjz/apps/base/theme/model/Theme.hbm.xml" />
		<!-- menu start --> 
		<mapping resource="com/hnjz/apps/base/menu/model/SMenu.hbm.xml" />
		<!-- ment end -->
		
		<!-- secparam start -->
		 <mapping resource="com/hnjz/apps/base/security/model/SecParam.hbm.xml" />
		 <mapping resource="com/hnjz/apps/base/audit/model/AuditParam.hbm.xml" />
		<!-- secparam end -->
		
		<!-- dataexsys start -->
		<mapping resource="com/hnjz/apps/oa/dataexsysnode/model/DataexSysNode.hbm.xml" />
		<mapping resource="com/hnjz/apps/oa/dataexsys/admin/model/DataexSysTrans.hbm.xml" />
		<mapping resource="com/hnjz/apps/oa/dataexsys/admin/model/DataexSysTransContent.hbm.xml" />
		<mapping resource="com/hnjz/apps/oa/dataexsys/admin/model/DataexSysDocAttach.hbm.xml" />
		<mapping resource="com/hnjz/apps/oa/dataexsys/admin/model/DataexSysDir.hbm.xml" />
		<mapping resource="com/hnjz/apps/oa/dataexsys/admin/model/DataexSysDirWs.hbm.xml" />
		<mapping resource="com/hnjz/apps/oa/dataexsys/admin/model/DataexSysSign.hbm.xml" />
		<mapping resource="com/hnjz/apps/oa/dataexsys/admin/model/DataexSysAttachment.hbm.xml" />
		<mapping resource="com/hnjz/apps/oa/dataexsys/admin/model/DataexSysTransTask.hbm.xml" />
		<mapping resource="com/hnjz/apps/oa/dataexsys/admin/model/DataexSysTransAccount.hbm.xml" />
		<mapping resource="com/hnjz/apps/oa/dataexsys/admin/model/DataexSysTransParam.hbm.xml" />
		<mapping resource="com/hnjz/apps/oa/dataexsys/admin/model/DataexSysTransQueue.hbm.xml" />
		<mapping resource="com/hnjz/apps/oa/dataexsys/admin/model/DataexAttachment.hbm.xml" />
		
		<mapping resource="com/hnjz/apps/oa/accept/model/DataexSysReceipt.hbm.xml" />
		<mapping resource="com/hnjz/apps/oa/dataexsys/admin/model/DataexFzRelation.hbm.xml" />
		<!--配置方正交换appid  -->
		<mapping resource="com/hnjz/apps/oa/dataexsysnode/model/DataexSysAppid.hbm.xml" />
		<!-- dataexsys end -->
	</session-factory>
</hibernate-configuration>
